{% extends "./base.html" %}
{% load static %}

{% block body %}
<h2 class="mt-3">Bienvenidos a UNID Campus Campeche</h2>
<p>
  La Universidad Interamericana para el Desarrollo (UNID) Campus Campeche es una institución comprometida con la excelencia académica, la formación integral y el desarrollo profesional de sus estudiantes. A través de un modelo educativo centrado en competencias, la UNID forma líderes capaces de transformar su entorno con responsabilidad y visión humana.
</p>
<p>
  En este espacio, la administración tiene como propósito proporcionar información clara, actualizada y relevante para la comunidad universitaria, promoviendo así una comunicación eficiente y una gestión institucional transparente.
</p>
<img src="{% static 'img/1915BJV.jpg' %}" alt="Imagen de administración" width="400" class="mt-3 shadow rounded">
{% endblock %}
